.jumbotron.subhead
    .container
        %h1 Welcome to the ACSSJ Website
        %p.lead The Association of Colleges of Sisters of Saint Joseph welcomes you
.container
    %section
        .page-header
            %h1 Introduction
        .row
            .span9
                %p The Association of Colleges of Sisters of Saint Joseph draws together seven colleges and universities founded by the Sisters of St. Joseph to articulate and further the contemporary expression of the educational mission and legacy of the Sisters of Saint Joseph. The Association fosters collaboration among all the member institutions; provides resources for the faculty, staff and students at member colleges and universities and encourages mission integration on each campus.
                %p Take advantage of the variety of opportunities that the Association offers, for example:
                %ul
                    %li See another part of the country through the student exchange program among all the member institutions
                    %li Attend regional and national meetings
                    %li Participate in a faculty or staff exchange program
                    %li Find a consultant for the cost of travel and housing
                    %li Enjoy a student leadership workshop
                    %li Share resources for mission integration
                    %li Interact with those who take similar roles at member campuses
                    %li Collaborate with a cross institutional group on a particular project
                %p To find out more about how the Association can assist you in your work and education, contact the Association Office at 518-337-2343.
                %p All member institutions in the Association hold values in common. Colleges founded by Sisters of St. Joseph
                %ul
                    %li Create hospitable and caring campus communities
                    %li Manifest concern for all without distinction
                    %li Address the needs of the times
                    %li Strive for excellence in all endeavors
                    %li Work to make a difference in the local and world community
                %p Take a minute and visit the web sites of the member institutions listed in the right hand corner to learn more about these dynamic colleges and universities.

            .span3
                = partial "members"
