%h4 Members
%hr
%ul
    %li Avila University, Kansas City, MO
    %li Chestnut Hill College, Philadelphia, PA
    %li Elms College , Chicopee , MA
    %li The College of Saint Rose, Albany, NY
    %li Fontbonne University, St. Louis, MO
    %li Mount Saint Mary's College, Los Angeles, CA
    %li Regis College, Weston, MA
    %li St.Catherine University, St.Paul, MN
    %li St.Joseph College, New York, NY